<div class="resized">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">Class</th>
        <th scope="col" colspan="3">Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" colspan="2">Alpha</th>
        <td colspan="3">Elaine "Bottomless" Beltran</td>
        <td>Alumni</td>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carmen Castanon</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Veronica "V" Corea</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carolyn Farino</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Angela "Legs" Gaudreau</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Terri "Lefty" Hyberg</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Laura "Sarge" Lathrop</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Gina Phelps</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Donna Varnell</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Trudy Wojahn</td>
        <td>Alumni</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta</th>
        <td colspan="3">Kimbi "Gritch" Fye Sigle</td>
        <td>Alumni (Life)</td>
      </tr>

      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Beth Batten</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Deb "Kermit" Kerman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Celia "Star" Miller</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Patty "Pooh" Richardson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Dina Rosas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Laurie "Twiggy" Weiss</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Karen Fye</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Jenny Sevastacis</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Gamma</th>
        <td colspan="3">Robin "Red" Meyer</td>
        <td>Inactive</td>
      </tr>
      <tr>
          <td colspan="2"> </td>
          <td colspan="3">Melissa Perusich</td>
          <td>Alumni</td>
        </tr>
      <tr>
        <th scope="row" colspan="2">Delta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Epsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Zeta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Eta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Theta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Iota</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Kappa</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Lambda</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Mu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Nu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Xi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Omicron</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Pi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Rho</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Sigma</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Tau</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Upsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Phi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Chi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Psi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Omega</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>