<div class="resized">
  <!-- Search Engine If Needed  -->
  <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">Class</th>
        <th scope="col" colspan="3">Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <th scope="row" colspan="2">Alpha</th>
        <td colspan="3">Elaine "Bottomless" Beltran</td>
        <td>Alumni</td>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carmen Castanon</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Veronica "V" Corea</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carolyn Farino</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Angela "Legs" Gaudreau</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Terri "Lefty" Hyberg</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Laura "Sarge" Lathrop</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Gina Phelps</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Donna Varnell</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Trudy Wojahn</td>
        <td>Alumni</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta</th>
        <td colspan="3">Kimbi "Gritch" Fye Sigle</td>
        <td>Alumni (Life)</td>
      </tr>

      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Beth Batten</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Deb "Kermit" Kerman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Celia "Star" Miller</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Patty "Pooh" Richardson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Dina Rosas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Laurie "Twiggy" Weiss</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Karen Fye</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Jenny Sevastacis</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Gamma</th>
        <td colspan="3">Robin "Red" Meyer</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Melissa Perusich</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Delta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Epsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Zeta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Eta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Theta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Iota</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Kappa</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Lambda</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Mu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Nu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Xi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Omicron</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Pi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Rho</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Sigma</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Tau</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Upsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Phi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Chi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Psi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Omega</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Alpha</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Beta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Gamma</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Delta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Epsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Zeta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Eta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Theta</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Iota</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Kappa</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Lambda</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Mu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Nu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Xi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Omicron</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Pi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Rho</th>
        <td colspan="3">Hannah "GeiZeL" Baxter</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Regina "sOuLstAce!" Harris</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Megan "Ginevra" Day</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jennifer "CaMBeeATTA" Xiong</td>
        <td>Inactive</td>
      </tr>

      
      <tr>
        <th scope="row" colspan="2">Alpha Sigma</th>
        <td colspan="3">Katie "ZePHYR" Mendonca</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Kendra "Amortentia" Oldershaw</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Lizzy "sAppHire" Rench</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Tau</th>
        <td colspan="3">Megan "padmaee" Patino</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Savannah "ӔmβroʤƵcxә" Thompson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Juliana "Gryffindor" Garrett</td>
        <td>Inactive</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Sian "SharPBee" McMillen</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Ariell "kneEOn!" Nichols</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Brittany "JingLE" Chandler</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Emily "jADe" Henderson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Julianna "LarcHSpuR" Mester</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Ashley "EQUINOzX" Goosic</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Phi</th>
        <td colspan="3">Amy "LuckDragyn" Muhleck</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Chi</th>
        <td colspan="3">Brittney "CreScenDO" Brown</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Catalina "PYrhO!" Calderon</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Michelle "FuCHI" Peres</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Olivia "CraCkLE" Wurzbach</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Alyssa "PeTRICHOR" Kerckhove</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katie "dorathee" Ardizzone</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katie "ale(cz)AnDrite" Kusa</td>
        <td>Alumni/td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Alpha Psi</th>
        <td colspan="3">Stephania "Firebolt" Medina</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Psi</th>
        <td colspan="3">Savannah "SYpZYGY" Singh</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Omega</th>
        <td colspan="3">Yasmine "KayDenz" Brackens</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Monique "OnoMaToPoeiA" Musquez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Rebecca "TygerLily" Power</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Caitlin "VIvaCee" Birky</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Beta Alpha</th>
        <td colspan="3">Alexandra "veehlma" Whorley</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Antonia "CÆyenne" Silva</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Lilliane "Au\gH/nycz" Rogers</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Mieko "DucKy" Cabral</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Beta Beta</th>
        <td colspan="3">Aaron "SOnIc BOOM" Cunningham</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Alexia "CeiBhFhIoNn" Vargas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Sara “EspreessiVo" Sweatt</td>
        <td>Alumni</td>
      </tr>

      <!-- <tr>
        <th scope="row" colspan="2">Beta Gamma</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
      <tr>
        <th scope="row" colspan="2">Beta Delta</th>
        <td colspan="3">Breanna "MoChi" Alvarez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katelyn "Tonks" Cook</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Lynette "NoVHa!" Madrigal</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Epsilon</th>
        <td colspan="3">Alicia "NyghtFury" Gonzalez</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jessica "khaleesi" Mosely</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katie "MeAdowlArK" Winter</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Zeta</th>
        <td colspan="3">Cassandra "KaraMeλ" Barajas</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Claire "zKildHjian" Heatherly</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Devyn "eQUiDAe" Contreras</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Estevan "Padfoot" Alvarez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jose "Cedric" Hernandez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Nwachukwu "Lumos" Oputa</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Raeann "ehn-CORe" Granados</td>
        <td>Conditional</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Savannah "HArley quinn" Luna</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Eta</th>
        <td colspan="3">Breana "LumYnoL!" Cottle</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Iana "OVeRCHURe" Flores</td>
        <td>Conditional</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Julie "Baudelayre" Dutra</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Mati "roree" Betancourth</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Nike "TRON" Keovilay</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Beta Theta</th>
        <td colspan="3">Alexis "pH[o]Σn!X" Ojeda</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Julia "CoyOLxAuHquI" Robles</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Julie "BriSa" Buzo</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Julienne "Severus" Boyd</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">V'Nai "CuMéBeAH" Luna</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Iota</th>
        <td colspan="3">Melissa "Byloo" Rodriguez</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Amanda "Elphyba" Esquivel</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Tesla "LEOnuh!" Franco</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Blain "puxgBaduhZ" Haskin</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Leah "kalieeopï" Vicente</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Kappa</th>
        <td colspan="3">Koko “αnaTuhY[Mē]” Vang</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Adrian “ELdinGAR!” Alcaraz</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Sara “DeeuWOP” Ortega</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Skylar “crAsh” Joe</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Nestor “Harry” Peraza</td>
        <td>Inactive</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta Lambda</th>
        <td colspan="3">Arianna "ZODiYAK!" Carrillo</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Sarah "LUXerő!" Lahorgue </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Grace "KA'まree" De Cicco</td>
        <td>Active</td>
      </tr>


      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jesyka "Absolym" Anastasio</td>
        <td>Active</td>
      </tr>


      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Rebecca "SeEROnayde" Morales</td>
        <td>Active</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta Mu</th>
        <td colspan="3">Arianna "re(PK)mo" Cabrera</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Aileen "Fawkes" Ibarra</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Selena "octāveeyuh" Reyes
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Alexa "Hortyn" Montes de Oca
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Celeste "KebeChet" Lopez
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jonathan "OpAl" Nunez
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Janelle "KâlaViṅkα" Davis
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Veronica "&#123;uNu&#125;ScYσnΣ" Enciso
        </td>
        <td>Active</td>
      </tr>

      <!-- <tr>
        <th scope="row" colspan="2">Beta Nu</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Xi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Omicron</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Pi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Rho</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Sigma</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Tau</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Upsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Phi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Chi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Psi</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Omega</th>
        <td colspan="3">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
</div>