<div class="resized">
  <!-- Search Engine If Needed  -->
  <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">Class</th>
        <th scope="col" colspan="3">Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <th scope="row" colspan="2">Alpha</th>
        <td colspan="3">Elaine "Bottomless" Beltran</td>
        <td>Alumni</td>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carmen Castanon</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Veronica "V" Corea</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carolyn Farino</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Angela "Legs" Gaudreau</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Terri "Lefty" Hyberg</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Laura "Sarge" Lathrop</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Gina Phelps</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Donna Varnell</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Trudy Wojahn</td>
        <td>Alumni</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta</th>
        <td colspan="3">Kimbi "Gritch" Fye Sigle</td>
        <td>Alumni (Life)</td>
      </tr>

      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Beth Batten</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Deb "Kermit" Kerman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Celia "Star" Miller</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Patty "Pooh" Richardson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Dina Rosas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Laurie "Twiggy" Weiss</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Karen Fye</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Jenny Sevastacis</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Gamma</th>
        <td colspan="3">Robin "Red" Meyer</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Melissa Perusich</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Delta</th>
        <td colspan="3">Joan "Mags" Canfield</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carol "Moaner" Moen</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Flora "Warden" Pamento</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Becky "F" Perry</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Cheryl "Glove" Porter</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Jennifer "Gem" Quiring</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Epsilon</th>
        <td colspan="3">Jennifer "Barbie" Hunt</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Carole "Bruiser" Mergler</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Amy "Smiles" Olson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <td colspan="2"> </td>
        <td colspan="3">Ann "Dimples" Kyle</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Zeta</th>
        <td colspan="3">Kathi "Roo" Waddle</td>
        <td>Alumni (Life)</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Becky "Twitter" Collins</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">
          Pam "Giggles" Fridolfs</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Michele "D.D." Hansen</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Beth "Uke" Miller</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Christine "Doodles" Murray</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Lara "Pepper" Carr</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Andrea "Thumper" Imfeld</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jeanette "Mouse" Markman</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Dawn "Twinkle" Payne</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Eta</th>
        <td colspan="3">Heidi "Red" Hunt</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Claudia "Etabird" Nightingale</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Amy "Ham" Walker</td>
        <td>Alumni</td>
      </tr>
      <!-- <tr>
        <th scope="row" colspan="2">Theta</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr> -->
      <tr>
        <th scope="row" colspan="2">Iota</th>
        <td colspan="3">Dora "Web" Cardenas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Socorro "Heart" Garcia</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jennifer "Echo" Clark</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Kappa</th>
        <td colspan="3">Diane "Boots" Semple</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Annette "Rudolph" Thissen Doucet</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Kristin "Ledger" Weiger</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Lambda</th>
        <td colspan="3">Lisa "Rebel" Beaver</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Heather "CAT" Bennett</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Tara "Mart" Berke</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Shanna "Whoosh" Brazil</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Mu</th>
        <td colspan="3">Karen "Wax Pepper" Bassoni</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Lucy "Dizzy" Morales</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Nu</th>
        <td colspan="3">Rosie "Coco" Ferroggiaro</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Kathleen "Tail" Harper</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jennifer "Rocky" Hough</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jennifer "Snaps" Wolan</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Xi</th>
        <td colspan="3">Maria "Bubbles" Mendoza</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Omicron</th>
        <td colspan="3">Robin "C.C." Henderson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Becky "Twister" Williams</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Paige "Aeon" Chaney</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Pi</th>
        <td colspan="3">Kathy "Tang" Krupa</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Rho</th>
        <td colspan="3">Lisa "Taz" Blied</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">
            Linda "Lotte" Borregales</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Trisha "Goldae" Bridges</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Susan "PeanuT" Gray</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Sarah "BamBam" Setty</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Denise "Dot" Norris</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Sigma</th>
        <td colspan="3">Larissa "Beaker" Bennett</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Sarah "Sprockette" West</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Tau</th>
        <td colspan="3">Theresia "Moh" Armi Gaffney</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Elena "Shoop" Montoya</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Amy "Skwert" Vallancourt Sals</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Upsilon</th>
        <td colspan="3">Cheryl "GibbS" Hutton Tellez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Phi</th>
        <td colspan="3">Kathy "Indiglo" Dorn</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Heather "Ha-P" Goolsby Watson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Crystal "JaKaDa" Riggleman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Chi</th>
        <td colspan="3">Catrina "ViGhce" Gonzales Castaneda</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Sierra "OughtyrpaHbps" Newquist Gerling</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Katrina "Tweetie" Wright Smith</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Esmeralda "AuroRa! BorEalIs" Rocha</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Patricia "2%" Hurtado</td>
        <td>Alumni</td>
      </tr>
      <!-- <tr>
        <th scope="row" colspan="2">Psi</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr> -->
      <tr>
        <th scope="row" colspan="2">Omega</th>
        <td colspan="3">Jaimee "POppee" Earls</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Linda "Lady Kluck" Lopez Stevens</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Crystal "TwAilight!" Noell Thornton</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Suzanne "dayzee" Ruth Sawyer</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Stacey "Torani" Updegraff</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Alpha</th>
        <td colspan="3">Marisa "Mystik" Garcia Aoki</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Candice "DeeVa" Jones</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Beta</th>
        <td colspan="3">Alexis "NaVi" Holladay</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Lissa "MeLLowDee" Lopez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Christine "meeko" Reza Keenan</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">April "TinkerbeL" Whittemore</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Emily "ligH!ningBOLT" Willingham Archuleta</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Gamma</th>
        <td colspan="3">Ashlea "slappee" Sheridan</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Sarah "CaNdie" Bennett</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Mary Frances "JuliP" Semsem</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Kathi "Otys" Hernandez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Delta</th>
        <td colspan="3">Angela "Fl!cker" Bates</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Leslie "PumbA" Sanders Collins</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Stefanie "Vee8" Shuldt</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Epsilon</th>
        <td colspan="3">Lindsey "CyMphonee" Parman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Christina "OranJibplazum" VaVerka</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Zeta</th>
        <td colspan="3">Alissa "tennessee" Chitwood</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Dawn Amber "Stitch" Evans</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jessica "MicKee" Jamero</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3"> Dana "AtheNa" Parry</td>
        <td>Alumni</td>
      </tr>
      <!-- <tr>
        <th scope="row" colspan="2">Alpha Eta</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr> -->
      <tr>
        <th scope="row" colspan="2">Alpha Theta</th>
        <td colspan="3">Jennifer "raeeyn" Churchman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jessica "ChearryzjubOlee" Gonzaga</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Christin "LuNa" Johnson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Sara "MyDORee" Meadows</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Christina "RhapCidee" Stuhlmiller</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Iota</th>
        <td colspan="3">Clara "ziNniA" Divelbiss</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Alisha "ArtOo" Annas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Benjamin "Lyttle John" Baxter</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Sara "beιli:z" Smith</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Kayla "Spright" Harlan</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Kappa</th>
        <td colspan="3">Janet "Dagny" Tenpas</td>
        <td>Alumni (Life)</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Mary "BeAUx Peep" Pagendarm</td>
        <td>Alumni (Life)</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Katie "qUasAr!" Segura</td>
        <td>Alumni (Life)</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Erin "phoebee" Michel</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Heather "PikAchu" Robinson</td>
        <td>Alumni</td>
      </tr>
      <!-- <tr>
        <th scope="row" colspan="2">Alpha Lambda</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr> -->
      <tr>
        <th scope="row" colspan="2">Alpha Mu</th>
        <td colspan="3">Christin "Zcynfandell" Day</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Danielle "FLoUnder" Spencer</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Holly "KaLi Ma" Thompson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jennifer "mœzεl" Raymond</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Katie "SpRiNgS" Hanna</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Laura "sateene" Patino</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Missy "BeeBoP" Zimmerman</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Nu</th>
        <td colspan="3">Jackie "ELeKtrA" Gibson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Kirsten "AzaleA" Haccou</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Xi</th>
        <td colspan="3">Jorge "eeAUgo" Mata</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Leneah "RacKeT" Bradshaw</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Melinda "Acornya" La Rochelle</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Omicron</th>
        <td colspan="3">Belen "BoLheroe" Marquez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Pi</th>
        <td colspan="3">Aleksis "AmetHyst" Pettineli</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Ally "CaUhpPer" Heraper</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Jordan "sArhaB!" Martin</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Lindsey "CardEA" Bryson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Emily "daHlia" Trujillo</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Guy "goe-goe" Barnes</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Josh "FLash" Gomes</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Rho</th>
        <td colspan="3">Hannah "GeiZeL" Baxter</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Regina "sOuLstAce!" Harris</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Megan "Ginevra" Day</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jennifer "CaMBeeATTA" Xiong</td>
        <td>Inactive</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Alpha Sigma</th>
        <td colspan="3">Katie "ZePHYR" Mendonca</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Kendra "Amortentia" Oldershaw</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Lizzy "sAppHire" Rench</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Tau</th>
        <td colspan="3">Megan "padmaee" Patino</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Savannah "ӔmβroʤƵcxә" Thompson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Juliana "Gryffindor" Garrett</td>
        <td>Inactive</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Sian "SharPBee" McMillen</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Ariell "kneEOn!" Nichols</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Brittany "JingLE" Chandler</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Emily "jADe" Henderson</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Julianna "LarcHSpuR" Mester</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Upsilon</th>
        <td colspan="3">Ashley "EQUINOzX" Goosic</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Phi</th>
        <td colspan="3">Amy "LuckDragyn" Muhleck</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Chi</th>
        <td colspan="3">Brittney "CreScenDO" Brown</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Catalina "PYrhO!" Calderon</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Michelle "FuCHI" Peres</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Olivia "CraCkLE" Wurzbach</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Alyssa "PeTRICHOR" Kerckhove</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katie "dorathee" Ardizzone</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katie "ale(cz)AnDrite" Kusa</td>
        <td>Alumni/td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Alpha Psi</th>
        <td colspan="3">Stephania "Firebolt" Medina</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Alpha Psi</th>
        <td colspan="3">Savannah "SYpZYGY" Singh</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Alpha Omega</th>
        <td colspan="3">Yasmine "KayDenz" Brackens</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Monique "OnoMaToPoeiA" Musquez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Rebecca "TygerLily" Power</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Caitlin "VIvaCee" Birky</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Beta Alpha</th>
        <td colspan="3">Alexandra "veehlma" Whorley</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Antonia "CÆyenne" Silva</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Lilliane "Au\gH/nycz" Rogers</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Mieko "DucKy" Cabral</td>
        <td>Inactive</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Beta Beta</th>
        <td colspan="3">Aaron "SOnIc BOOM" Cunningham</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Alexia "CeiBhFhIoNn" Vargas</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Sara “EspreessiVo" Sweatt</td>
        <td>Alumni</td>
      </tr>

      <!-- <tr>
        <th scope="row" colspan="2">Beta Gamma</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr> -->
      <tr>
        <th scope="row" colspan="2">Beta Delta</th>
        <td colspan="3">Breanna "MoChi" Alvarez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katelyn "Tonks" Cook</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Lynette "NoVHa!" Madrigal</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Epsilon</th>
        <td colspan="3">Alicia "NyghtFury" Gonzalez</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jessica "khaleesi" Mosely</td>
        <td>Alumni</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Katie "MeAdowlArK" Winter</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Zeta</th>
        <td colspan="3">Cassandra "KaraMeλ" Barajas</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Claire "zKildHjian" Heatherly</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Devyn "eQUiDAe" Contreras</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Estevan "Padfoot" Alvarez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jose "Cedric" Hernandez</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Nwachukwu "Lumos" Oputa</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Raeann "ehn-CORe" Granados</td>
        <td>Conditional</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Savannah "HArley quinn" Luna</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Eta</th>
        <td colspan="3">Breana "LumYnoL!" Cottle</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Iana "OVeRCHURe" Flores</td>
        <td>Conditional</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Julie "Baudelayre" Dutra</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Mati "roree" Betancourth</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Nike "TRON" Keovilay</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2">Beta Theta</th>
        <td colspan="3">Alexis "pH[o]Σn!X" Ojeda</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Julia "CoyOLxAuHquI" Robles</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Julie "BriSa" Buzo</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Julienne "Severus" Boyd</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">V'Nai "CuMéBeAH" Luna</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Iota</th>
        <td colspan="3">Melissa "Byloo" Rodriguez</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Amanda "Elphyba" Esquivel</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Tesla "LEOnuh!" Franco</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Blain "puxgBaduhZ" Haskin</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"> </th>
        <td colspan="3">Leah "kalieeopï" Vicente</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Kappa</th>
        <td colspan="3">Koko “αnaTuhY[Mē]” Vang</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Adrian “ELdinGAR!” Alcaraz</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Sara “DeeuWOP” Ortega</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Skylar “crAsh” Joe</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Nestor “Harry” Peraza</td>
        <td>Inactive</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta Lambda</th>
        <td colspan="3">Arianna "ZODiYAK!" Carrillo</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Sarah "LUXerő!" Lahorgue </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Grace "KA'まree" De Cicco</td>
        <td>Active</td>
      </tr>


      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jesyka "Absolym" Anastasio</td>
        <td>Active</td>
      </tr>


      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Rebecca "SeEROnayde" Morales</td>
        <td>Active</td>
      </tr>


      <tr>
        <th scope="row" colspan="2">Beta Mu</th>
        <td colspan="3">Arianna "re(PK)mo" Cabrera</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Aileen "Fawkes" Ibarra</td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Selena "octāveeyuh" Reyes
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Alexa "Hortyn" Montes de Oca
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Celeste "KebeChet" Lopez
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Jonathan "OpAl" Nunez
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Janelle "KâlaViṅkα" Davis
        </td>
        <td>Active</td>
      </tr>

      <tr>
        <th scope="row" colspan="2"></th>
        <td colspan="3">Veronica "&#123;uNu&#125;ScYσnΣ" Enciso
        </td>
        <td>Active</td>
      </tr>

      <!-- <tr>
        <th scope="row" colspan="2">Beta Nu</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Xi</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Omicron</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Pi</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Rho</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Sigma</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Tau</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Upsilon</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Phi</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Chi</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Psi</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr>
      <tr>
        <th scope="row" colspan="2">Beta Omega</th>
        <td colspan="3">Larry the Bird</td>
        <td>Alumni</td>
      </tr> -->
    </tbody>
  </table>
</div>