<h2 style="text-align: center; padding-top: 25px;">
  Active Sisters of 2018-19
</h2>
<div class="flex-container">

  <div class="card">
    <img class="card-img-top" src="assets/sisters/khloe.JPG" alt="Card image cap">
    <div class="card-body">
      <div class="ch1">Khloe "The" Dog</div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><div class="cp1">President</div></li>
      <li class="list-group-item"><div class="cp1">Beta Iota, Spring '17</div></li>
      <li class="list-group-item"><div class="cp1">president@tbsetaomega.org</div></li>
    </ul>
  </div>

  <div class="card">
      <img class="card-img-top" src="assets/sisters/khloe.JPG" alt="Card image cap">
      <div class="card-body">
        <div class="ch1">Khloe "The" Dog</div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><div class="cp1">President</div></li>
        <li class="list-group-item"><div class="cp1">Beta Iota, Spring '17</div></li>
        <li class="list-group-item"><div class="cp1">president@tbsetaomega.org</div></li>
      </ul>
    </div>

    <div class="card">
        <img class="card-img-top" src="assets/sisters/khloe.JPG" alt="Card image cap">
        <div class="card-body">
          <div class="ch1">Khloe "The" Dog</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><div class="cp1">President</div></li>
          <li class="list-group-item"><div class="cp1">Beta Iota, Spring '17</div></li>
          <li class="list-group-item"><div class="cp1">president@tbsetaomega.org</div></li>
        </ul>
      </div>

      <div class="card">
          <img class="card-img-top" src="assets/sisters/khloe.JPG" alt="Card image cap">
          <div class="card-body">
            <div class="ch1">Khloe "The" Dog</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><div class="cp1">President</div></li>
            <li class="list-group-item"><div class="cp1">Beta Iota, Spring '17</div></li>
            <li class="list-group-item"><div class="cp1">president@tbsetaomega.org</div></li>
          </ul>
        </div>

        <div class="card">
            <img class="card-img-top" src="assets/sisters/khloe.JPG" alt="Card image cap">
            <div class="card-body">
              <div class="ch1">Khloe "The" Dog</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><div class="cp1">President</div></li>
              <li class="list-group-item"><div class="cp1">Beta Iota, Spring '17</div></li>
              <li class="list-group-item"><div class="cp1">president@tbsetaomega.org</div></li>
            </ul>
          </div>

          <div class="card">
              <img class="card-img-top" src="assets/sisters/khloe.JPG" alt="Card image cap">
              <div class="card-body">
                <div class="ch1">Khloe "The" Dog</div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><div class="cp1">President</div></li>
                <li class="list-group-item"><div class="cp1">Beta Iota, Spring '17</div></li>
                <li class="list-group-item"><div class="cp1">president@tbsetaomega.org</div></li>
              </ul>
            </div>
</div>