<div class="text-container">
  <h2>WHO ARE WE</h2>
  <p>We are a nationally recognized music organization made up of over 160 collegiate chapters and more than 3,800
    collegiate members comprised of both men and women combined. All of our members hold leadership qualities and
    a drive to make a difference in the music communities of their respective colleges.</p>
</div>
<div class="text-container-2">
  <h2>WHAT DO WE DO</h2>
  <p>Tau Beta Sigma sets out to provide exceptional service to the collegiate bands. We push to make sure we help take
    care of our musical ensembles and our music department in order to give back to the programs that gave us so much.
    Next to service, Tau Beta Sigma offers many others programs and initiatives
    that help empower, not only women in music, but any bandsperson. These programs include but are not limited to;
    Women In Music, the Coda program,
    the Crescendo program, as well as a handful of joint programs with our brothers of Kappa Kappa Psi.</p>
</div>
<div class="text-container">
  <h2>OUR MISSION STATEMENT</h2>
  <p>We provide exceptional service to collegiate bands and promote equality and diversity, including empowering women
    in the band profession. We cultivate leadership, educational achievement, music appreciation and community
    development.</p>
</div>
<div class="text-container-2">
  <h2>OUR VISION STATEMENT</h2>
  <p>Tau Beta Sigma is a highly respected pre-eminent music organization comprised of over 160 collegiate chapters and
    more than 3,800 collegiate members with a balanced representation of women and men. Strong leadership thrives
    throughout our organization and we have a solid financial foundation. We cultivate and sponsor a variety of music
    education programs for our diverse membership and work closely with collegiate band directors. Our alumni
    association is an integral part of Tau Beta Sigma, promoting diversity efforts, social networking and assisting
    members in enhancing their professional leadership and employment possibilities after graduation from college. We
    are actively engaged in the community through music.</p>
</div>
<div class="text-container">
  <h2>OUR PURPOSES</h2>
  1. To promote the existence and welfare of the collegiate bands and to create a respect and appreciation for band
  activities and achievements among the listening public everywhere.
  <br><br>
  2. To honor outstanding members of the band through privilege of membership, in the Sisterhood, extended in
  recognition of musical achievement, demonstrated leadership, and an enthusiastic approach to band activities.
  <br><br>
  3. To develop leadership through active participation with the band, and through it, to strengthen those traits of
  conduct, thought, and idealism which characterize the responsible membership of the band.
  <br><br>
  4. To encourage a close relationship between collegiate bands and promote a high average of attainment by the
  performance of good music and selection of worthwhile projects.
  <br><br>
  5. To provide a meaningful and worthwhile social experience for all engaged in collegiate band work, and to
  cooperate with other musical organizations and societies in every manner consistent with our mutual purposes and
  those of the institution at which chapters are located.
</div>