<div class="text-container">
  <h2>WHO ARE WE</h2>
  <p>We are a nationally recognized music organization made up of over 160 collegiate chapters and more than 3,800
    collegiate members comprised of both men and women combined. All of our members hold leadership qualities and
    a drive to make a difference in the music communities of their respective colleges.</p>
</div>
<div class="text-container-2">
  <h2>WHAT DO WE DO</h2>
  <p>We provide exceptional service to collegiate bands and promote equality and diversity, including
    empowering women in the band profession. We cultivate leadership, educational achievement, music
    appreciation and community development. Next to service, Tau Beta Sigma offers many others programs and initiatives
    that help empower, not only women in
    music, but any bandsperson. These programs include but are not limited to; Women In Music, the Coda program,
    the Crescendo program, as well as a handful of joint programs with our brothers of Kappa Kappa Psi.</p>
</div>
<div class="text-container">
  <h2>OUR MISSION STATEMENT</h2>
  <p></p>
</div>
<div class="text-container-2">
  <h2>OUR VISION STATEMENT</h2>
  <p></p>
</div>
<div class="text-container">
  <h2>OUR PURPOSES</h2>
  <p></p>
</div>