/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700); */

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  font: 1em/1 'Open Sans', sans-serif; 
  color: #555; 
  background: #f5f5f5;
} */

/* h1 {
  margin: 0;
  line-height: 80px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #999;
} */

ul {
  width: 100%;
  margin: 40px auto;
  list-style: none;
}

li {
  display: flex;
}

li:last-child {
  border: 0;
}

li p {
  display: block;
  padding: 20px;
  line-height: 1.4;
}

li p:nth-child(1) {
  position: relative;
  padding-right: 25px;
  font-size: 18px;
  line-height: 2.5;
  color: #aaa;
}

li p:nth-child(1):after {
  content: '';
  position: absolute;
  top: 28px;
  right: -12px;
  display: block;
  width: 20px;
  height: 20px;
  border: 5px solid #999;
  border-radius: 50%;
  background: #fff;
}

li:first-child p:nth-child(1):after {
  background: rgb(255, 255, 255);
}

li p:nth-child(2) {
  flex: 1;
  font-size: 16px;
  border-left: 5px solid #999;
}

li p span {
  display: block;
  margin: 5px 0 0;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
}

.text-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-container-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  background-color: #004990;
  padding-left: 3rem;
  padding-right: 3rem;
}

.center {
  /* padding-bottom: 0.5rem; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  padding-bottom: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* xSmall (xsm) */
@media (min-width: 320px) { 
  .logo {
    padding-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    height: auto;
  }
  .video-responsive{
    overflow:hidden;
    padding-bottom:2rem;
    position:relative;
    display: block;
    height:180px;
}
.video-responsive iframe{
    left:0;
    top:0;
    /* height:200px; */
    width:100%;
    position:absolute;
}
  .text-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      height: auto;
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  .text-container-2 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      height: auto;
      background-color: #004990;
      padding-left: 20px;
      padding-right: 20px;
  }
}

@media (min-width: 425px) {
  .video-responsive{
  overflow:hidden;
  padding-bottom:3rem;
  position:relative;
  display: block;
  height:180px;
}
.video-responsive iframe{
  left:0;
  top:0;
  /* height:200px; */
  width:100%;
  position:absolute;
}

p {
  padding-top: 1rem
}}

/* eh (sm) */
@media (min-width: 640px) { 

  .video-responsive{
    overflow:hidden;
    padding-bottom:3rem;
    position:relative;
    display: block;
    height:300px;
  }
  .video-responsive iframe{
    left:0;
    top:0;
    /* height:200px; */
    width:100%;
    position:absolute;
  }
  
  p {
    padding-top: 1rem
  }

  .logo {
    padding-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: auto;
  }
  .text-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      height: auto;
      background-color: white;
      padding-left: 40px;
      padding-right: 40px;
  }
  
  .text-container-2 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      height: auto;
      background-color: #004990;
      padding-left: 40px;
      padding-right: 40px;
  }
}

/* Medium (md) */
@media (min-width: 768px) { 
  .video-responsive{
    overflow:hidden;
    padding-bottom:3rem;
    position:relative;
    display: block;
    height:400px;
  }
  .video-responsive iframe{
    left:0;
    top:0;
    /* height:200px; */
    width:100%;
    position:absolute;
  }
  
  p {
    padding-top: 1rem
  }
  .logo {
    padding-bottom: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
    height: auto;
  }
  .text-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      height: auto;
      background-color: white;
      padding-left: 60px;
      padding-right: 60px;
  }
  
  .text-container-2 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      height: auto;
      background-color: #004990;
      padding-left: 60px;
      padding-right: 60px;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {   
  .video-responsive{
    overflow:hidden;
    padding-bottom:3rem;
    position:relative;
    display: block;
    height:180px;
  }
  .video-responsive iframe{
    left:0;
    top:0;
    /* height:200px; */
    width:100%;
    position:absolute;
  }
  
  p {
    padding-top: 1rem
  }
    .text-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
}

.text-container-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  background-color: #004990;
  padding-left: 80px;
  padding-right: 80px;
} }

/* Extra Large (xl) */
@media (min-width: 1280px) {   
  .video-responsive{
    overflow:hidden;
    padding-bottom:3rem;
    position:relative;
    display: block;
    height:700px;
  }
  .video-responsive iframe{
    left:0;
    top:0;
    /* height:200px; */
    width:100%;
    position:absolute;
  }
  
  p {
    padding-top: 1rem
  }
    .text-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  background-color: white;
  padding-left: 120px;
  padding-right: 120px;
}

.text-container-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  background-color: #004990;
  padding-left: 120px;
  padding-right: 120px;
} 
}