<div class="text-container">
  <img src="..\assets\bmb.png" alt="Fresno State Bulldog Marching Band" class="logo">
  <div class="video-responsive">
      
        <iframe width="560" height="100%" src="https://www.youtube.com/embed/nQHVU-jftgA" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

  <p>The Fresno State Bulldog Marching Band is an NCAA Division-I college marching band in the Mountain West Conference
    that performs at all Fresno State home football games and various other events on campus and in the community.
    Director of Athletic Bands Steve McKeithen leads the BMB to continue its long tradition of excellence in all things.
    The group prides itself in diversity as the largest student organization on campus. In addition to supporting Fresno
    State Athletics, the BMB hosts the Sierra Cup Classic band competition and Fresno State Band Day. The band is sought
    after as the featured act across the state. In 2015, the BMB opened for the San Diego Chargers and looks to repeat
    an
    NFL appearance with the Oakland Raiders in 2016. Wherever it goes, the Best Band in the West proves itself as a
    relentless source of energy, enthusiasm, and entertainment as the loud and proud, the soundtrack of the Red Wave,
    the
    Fresno State Bulldog Marching Band. Go Dogs, feed the band!</p>
</div>
<div class="text-container-2">
  <h1 style="text-align: center">The Bulldog Marching Band History</h1>
</div>
<div class="text-container">
  <ul>
    <li>
      <p>1911</p>
      <p>
        Fresno Normal School was formed. Professor Arthur G. Wahlberg was head of the music department.
      </p>
    </li>

    <li>
      <p>1926</p>
      <p>
        The first band was started. Mr. Author C. Forsbald was the director of the band, which consisted of 36 members.
      </p>
    </li>

    <li>
      <p>1929</p>
      <p>
        The annual free concerts at Roeding Park, celebrating National Music Week, began.
      </p>
    </li>

    <li>
      <p>1934</p>
      <p>
        Fresno Normal School became Fresno State College. The school officially adopted a new fight song entitled “Fight
        Varsity.”
      </p>
    </li>

    <li>
      <p>1935</p>
      <p>
        Sporting new uniforms, the FSC band traveled to the California Pacific Exhibition in San Diego where the feature
        attraction was “Fresno Day.”
      </p>
    </li>

    <li>
      <p>1926</p>
      <p>
        The first band was started. Mr. Author C. Forsbald was the director of the band, which consisted of 36 members.
      </p>
    </li>

    <li>
      <p>1936</p>
      <p>
        The FSC band went to the San Francisco Bay Bridge to participate in a parade.They placed 4th.
      </p>
    </li>

    <li>
      <p>1937</p>
      <p>
        The first Annual Band Banquet was held at the Hotel Fresno
      </p>
    </li>

    <li>
      <p>1939</p>
      <p>
        A.G. Forsblad directed a 1,000 piece band at the foundation ceremony of Friant Dam.
      </p>
    </li>

    <li>
      <p>1942</p>
      <p>
        All of the ensembles at FSC were weakened because of the call for men to fight in WWII.
      </p>
    </li>

    <li>
      <p>1950</p>
      <p>
        Elwyn Schwartz became the Director of Bands, succeeding Forsblad.
      </p>
    </li>

    <li>
      <p>1953</p>
      <p>
        Russel Howland succeeded Schwartz as Director of Bands.
      </p>
    </li>

    <li>
      <p>1955</p>
      <p>
        FSC moved to a new location on the outskirts of Fresno.
      </p>
    </li>

    <li>
      <p>1956</p>
      <p>
        Dr. Ralph Rea (music dept. chairman) became the Director of Bands, succeeding Howland.
      </p>
    </li>

    <li>
      <p>1957</p>
      <p>
        Dean Killon became the Director of Bands, succeeding Rea.
      </p>
    </li>

    <li>
      <p>1958</p>
      <p>
        With the help of band member Lennie Rader, Dean Killon resurrected the Neon Instruments with artificial fog for
        a
        blacked out Radcliff Stadium.
      </p>
    </li>

    <li>
      <p>1960</p>
      <p>
        Arthur Barnes succeeded Killon as Director of Bands.
      </p>
    </li>

    <li>
      <p>1964</p>
      <p>
        John H. Martin became Director of Bands, succeeding Barnes.
      </p>
    </li>

    <li>
      <p>1968</p>
      <p>
        Lawrence R. Sutherland became Director of Bands, succeeding Martin.
      </p>
    </li>

    <li>
      <p>1972</p>
      <p>
        FSC became CSU, Fresno.
      </p>
    </li>

    <li>
      <p>1979</p>
      <p>
        The Jazz Band “A” traveled to Montreaux, Switzerland to play in the Montreaux Jazz Festival, directed by Dr.
        Sutherland.
      </p>
    </li>

    <li>
      <p>1980</p>
      <p>
        Frank Bibb became the Associate Director of Bands, and took charge of the Bulldog Marching Band.Dr. Sutherland
        continued to direct the Jazz Band “A” and the Wind Ensemble. 1st annual Collegiate Wind Festival hosted by CSUF
        Music Department.
      </p>
    </li>

    <li>
      <p>1982</p>
      <p>
        The marching band reached an all-time high of 200 members.
      </p>
    </li>

    <li>
      <p>1983</p>
      <p>
        The Wind Ensemble and Jazz Band “A” toured Japan and performed at the 1983 Japanese Band Director’s Clinic.
      </p>
    </li>

    <li>
      <p>1984</p>
      <p>
        M. Scott McBride became the new Associate Director of Bands.
      </p>
    </li>

    <li>
      <p>1985</p>
      <p>
        The Wind Ensemble and Jazz Band “A” toured Europe. They performed at the 2nd conference of the World Association
        of Symphonic Bands and Ensembles (WASBE).
      </p>
    </li>

    <li>
      <p>1986</p>
      <p>
        Wind Ensemble goes to Germany October 6-20th.
      </p>
    </li>

    <li>
      <p>1987</p>
      <p>
        The Wind Ensemble did a world premiere of the Philip Wilby work, “Little Symphony for Brass,” dedicated to the
        CSUF Wind Ensemble and Dr. Sutherland.
      </p>
    </li>

    <li>
      <p>1988</p>
      <p>
        The 7th annual “Western States Collegiate Wind Band Festival” was held at the Memorial Theatre.
      </p>
    </li>

    <li>
      <p>1990</p>
      <p>
        M. Scott McBride, after much hard work, received his doctorate in music.
      </p>
    </li>

    <li>
      <p>1991</p>
      <p>
        Dr. M. Scott McBride resigned his position to become director of bands at Jacksonville State University in
        Alabama.Bill Barbour became the new director of the Bulldog Marching Band. 1st annual Fresno State Day of
        Percussion by the CSUF Department of Music.
      </p>
    </li>

    <li>
      <p>1992</p>
      <p>
        Large budget cuts resulted in the unexpected loss of the Fresno State Marching Band program.Dr. Sutherland
        organized the “Spirit Band” to perform stand tunes at games.
      </p>
    </li>

    <li>
      <p>1993</p>
      <p>
        Dr. Gary P. Gilroy was hired as the Associate Director of Bands. He installed the Bulldog Beat, restarted the
        Bulldog Marching Band, and the symphonic band.
      </p>
    </li>

    <li>
      <p>1994</p>
      <p>
        The growing marching band participated in the Hollywood Christmas parade. Jazz Band “A” and “B” performed a
        concert with a guest performance from the CSU Long Beach Jazz Band. Day of Jazz was hosted by CSUF Department of
        Music and KKPsi/TBSigma. North Texas 1 o’clock Lab Band performed a concert with CSU, Fresno Jazz Band “A” on
        April 20, 1994. This was the only Central California performance in 15 years. CSUF Jazz Band “A” took 2nd Place
        in
        the 20th annual Pacific Coast Colligate Jazz Festival in the 4 year Big Band category. And the Jazz Band A & B
        took 1stplace in the 4 year combo category.
      </p>
    </li>

    <li>
      <p>1996</p>
      <p>
        The Wind Ensemble performed at Carnegie Hall on June 2nd. They performed the New York premiere of “Dawn Flight”
        and U.S. premiere of “White-Knuckle Ride”, both by Philip Wilby. They also gave a world premiere of “Ostinato
        Dance” by James Sochinski. On Saturday, January 27 the CSUF, Department of Music presented “Sons of the San
        Joaquin” in a benefit concert for CSUF Wind Ensemble. The Wind Ensemble recorded a CD, Sacred Symphonies, which
        offers a selection of classical music. It also featured the Black Pike Mills Band and composer Phillip Wilby. It
        was distributed worldwide.
      </p>
    </li>
    <li>
      <p>1997</p>
      <p>
        Jazz Band “A” took 1st place at the Reno Jazz Festival under Dr. Sutherland. The marching band also received new
        uniforms. The 1st Annual Concerto Concert was held at CSUF.
      </p>
    </li>
    <li>
      <p>1998</p>
      <p>
        Wind Ensemble performed a joint concert with the 361st Air Force Band of the California Air National Guard. On
        April 16, Jazz Band “A” opened for the Grammy award winner Roy Hargrove.
      </p>
    </li>
    <li>
      <p>1999</p>
      <p>
        Dr. Sutherland started the 1st Annual Billy Higgins Jazz Festival. The Marching Band also received a million
        dollar endowment from an anonymous donor. The Wind Ensemble toured to Ontario, CA
      </p>
    </li>
    <li>
      <p>2000</p>
      <p>
        Dr. Sutherland conducted the Wind Ensemble in four venues in China. The Marching Band traveled to the UCLA away
        game which sadly was lost. The Marching Band also traveled to the 1st Annual Silicon Valley Classic Bowl Game.
        The
        Bulldogs lost against the Air Force.
      </p>
    </li>
    <li>
      <p>2001</p>
      <p>
        The marching band traveled to their second consecutive Silicon Valley Classic where the football team lost to
        Michigan State.
      </p>
    </li>
    <li>
      <p>2002</p>
      <p>
        The Marching Band received new uniforms and traveled to their third annual Silicon Valley Classic where the
        football team beat Georgia Tech.
      </p>
    </li>
    <li>
      <p>2003</p>
      <p>
        The Marching Band once again traveled to their fourth annual Silicon Valley Classic where the football team
        defeated UCLA.
      </p>
    </li>
    <li>
      <p>2004</p>
      <p>
        The Wind Ensemble, under the direction of Dr. Sutherland, traveled to New Orleans. The Marching Band traveled to
        the MPC Computer Bowl where the football team defeated the University of Virginia.
      </p>
    </li>
    <li>
      <p>2005</p>
      <p>
        The Marching Band traveled to USC for a football game. Sadly, they lost but it was lot of fun and they put up a
        good fight. The band traveled with the football team to Memphis, Tennessee for the Liberty Bowl where they lost
        to
        Tulsa.
      </p>
    </li>
    <li>
      <p>2006</p>
      <p>
        Dr. Lawrence R. Sutherland retired as Director of Bands after 38 years of service to the bands at Fresno State.
        Dr. Gary P. Gilroy was chosen to take over. Timothy Todd Anderson was chosen to be the new Director of Athletic
        Bands for the Marching Band and conductor of the Symphonic Band.
      </p>
    </li>
    <li>
      <p>2007</p>
      <p>
        In September, the band hosted the Sacramento State band when they came with their football team for the opener
        of
        the season. (24-3 Fresno State) The marching band traveled to Reno, NV for the game against the Reno Wolfpack,
        and
        the Bulldogs conquered them 49 to 41. At the end of the Season, the band traveled with the football team to
        Roady’s Humanitarian Bowl in Boise, ID. The Bulldogs beat the Georgia Tech Yellow Jackets 40 to 28.
      </p>
    </li>
    <li>
      <p>2008</p>
      <p>
        The Marching Band joined with the UCLA’s Bruin Marching Band to form a joint halftime “Disco Show” at the UCLA
        game in Los Angeles. The Bulldogs then went on to defeat UCLA 36-31. The Marching Band also took a small group
        to
        the New Mexico Bowl. Timothy Todd Anderson officially became the Assistant Director of Bands.
      </p>
    </li>
    <li>
      <p>2009</p>
      <p>
        Dr. John Welty donated new uniforms to the Marching Band. The dancing team was reinstated into the Marching Band
        after having been disbanded several years prior. The Marching Band returned to their former home game seats in
        the
        student section. The Marching Band also went to the New Mexico Bowl where they challenged Colorado State; this
        time they took almost the entire band. It was a memorable 28 hour bus trip.
      </p>
    </li>
    <li>
      <p>2010</p>
      <p>
        The University celebrated its centennial.
      </p>
    </li>
    <li>
      <p>2011</p>
      <p>
        Dr. Anderson left his position at Fresno State to become the Marching Director of the University of
        Massachusetts.
        Professor Adam Wilke was chosen as the Interim Marching Band Director and the conductor of the Symphonic Band.
      </p>
    </li>
    <li>
      <p>2013</p>
      <p>
        Fresno State welcomed Dr. David Fullmer from BYU to be the Athletic Director of Bands. Along with the Marching
        Band, Dr. Fullmer was also the conductor of the Symphonic Band and started the University Band, which was a
        third
        band that acted as a chance for music majors to pick up a secondary instrument, and for non music majors who
        were
        a part of the Bulldog Marching Band, it gave them an ensemble where they could keep up their musicianship. Both
        Kappa Kappa Psi and Tau Beta Sigma honored Dr. Fullmer with honorary status while here in Fresno. Dr. Fullmer
        resigned after one year and accepted the Director of Bands position at Utah Valley University.
      </p>
    </li>
    <li>
      <p>2013</p>
      <p>
        Dr. Gary P. Gilroy filled in as the interim Athletic Director of Band, while still on board as the conductor for
        the University Wind Orchestra. The Bulldogs went 10-1 in the regular season and were crowned the Mountain West
        Champions for the second year in a row. The football team, along with the Marching Band in full went to Las
        Vegas,
        to participate in the Royal Purple Las Vegas Bowl to face USC. The Bulldogs had a disappointing 45-20 loss
        against
        the Trojans, but fun was had by all.
      </p>
    </li>
    <li>
      <p>2014</p>
      <p>
        Steve McKiethen was hired as the Athletic Director of Band. The 'Dogs went 5-3 in conference and were crowned
        West
        Division Champions, but lost to Boise State in the Mountain West Championship game. The 'Dogs and a small
        portion
        of the band traveled to the Hawaii Bowl where Fresno ultimately lost to Rice University.
      </p>
    </li>
    <li>
      <p>2017</p>
      <p>
        Fresno State had arguably the best comeback season in college ball, going 1-11 in the previous season to 10-4,
        winning the West Division but sadly losing the Mountain West Championship in a slugfest against Boise. The 'Dogs
        and around 40 band members were invited to the Hawaii Bowl, where they defeated Houston and won their first Bowl
        game in a decade.
      </p>
    </li>
    <li>
      <p>2018</p>
      <p>
        Fresno State went 11-2, and won the West Division. The 'Dogs then traveled to Boise State for the Mountain West
        Championship and won against the Broncos.
      </p>
    </li>
  </ul>
</div>