<div class="text-container">

  <h2>February 17, 1987</h2>
  <p>A group of band members at Fresno State sent a letter to the National Office of Kappa Kappa Psi/Tau Beta Sigma
    stating their interest in becoming chapters in the fraternity and sorority. Following this, these students were
    given an introduction and information session. The San Diego State chapters were selected as their parent chapters,
    and
    members from UCLA joined SDSU in Fresno on <b>March 7, 1987</b> for colonization ceremonies. M. Scott McBride, the
    Associate Director of Bands at Fresno State, was himself a brother of KKPsi. He was instrumental in establishing the
    colonies,
    and became the founding sponsor.
    <br>
    The colonization period was busy, but the candidates were eager to succeed and worked with enthusiasm.Service
    activities ranged from concert set-ups and receptions to hosting the Winter Guard Festival Finals and the Central
    Section Music Educator’s Winter Conference.The colony members were dedicated to the Ideals and Purposes of KKPsi and
    TBSigma, and endeavored to serve the bands as best they could.
    <br>
    During the fall semester the colonies’ efforts were centered on the petitioning document, which was submitted to the
    National Office in mid-March.The original copy is on file at Oklahoma State University and can be viewed upon
    request.
    <br>
    The Annual Wind Band Festival was reactivated in 1988 with the help of the colonies, which sponsored and ran the
    event.During this year the colony also hosted California State Days while concurrently participating in Vintage Days
    ’88.The “Grape Pinchers” placed 8th overall. The colonies had made a definite mark on campus as the colonization
    period ended.</p>
</div>

<div class="text-container-2">

  <h2>Saturday, April 30, 1988</h2>
  <p>The colony members were initiated and became the Iota Alpha and Eta Omega chapters of KKPsi and TBSigma.One major
    accomplishment that brought recognition to the chapters was the election of Veronica Corea, the TBSigma charter
    president of Eta Omega, to the office of Western District Secretary/Treasurer.</p>
</div>

<div class="text-container">

  <h2>Fall of 1988</h2>
  <p>The chapters put through their first class of initiates, the Beta class.While still in their first year as
    chapters, the members decided to commission a major work for the Wind Ensemble to be written in celebration of Dr.
    Lawrence Sutherland’s 20th year with the Fresno State bands.Philip Wilby composed “Catcher of Shadows” for this
    event, and traveled from England to conduct the premiere performance at the 1989 Wind Festival.</p>
</div>

<div class="text-container-2">

  <h2>April of 1991</h2>
  <p>The Fresno State chapters had the honor of hosting the Western District Convention.Members from every chapter in
    the district were present, including future brothers from a soon-to-be colony of Kappa Kappa Psi at Cal Poly, San
    Luis Obispo.During the convention, KKPsi-Iota Alpha member Ronald Hill was elected to the office of Western District
    Secretary/Treasurer.A few weeks later, the Iota Alpha chapter learned that they had been chosen to sponsor the new
    colony at Cal Poly, which would later become the Iota Pi chapter.The sisters of Eta Omega were asked to assist their
    brothers in the parent chapter by becoming big sisters for the colony brothers.</p>
</div>

<div class="text-container">

  <h2>Summer of 1991</h2>
  <p>The chapters were saddened to learn that Dr. M. Scott McBride, the chartering sponsor, had resigned his position at
    Fresno State to become the director of bands at Jacksonville State University in Alabama.They were in competent
    hands, however, when Dr. Lawrence R. Sutherland, Director of Bands at CSUF, became their new sponsor in the Fall of
    1991.At National Convention Eta Omega won the Delegate Distance Award.</p>
</div>

<div class="text-container-2">

  <h2>Spring of 1992</h2>
  <p>The chapter hosted its second California State Days.All of the chapters in California, and a couple from Arizona
    were represented in Fresno.Festivities included a general meeting, social picnic, and continued late into the next
    morning.
    <br>
    In celebration of the chapters’ ever increasing devotion to their department, the Faculty and Staff of the Music
    Department purchased a brick, in the Spring of 1993, to be placed in the “Walkway of Distinction” leading up to the
    newly renovated Stillwater Station.</p>
</div>

<div class="text-container">

  <h2>1994</h2>
  <p>The chapters sponsored “Jazz Saturday” and provided pizza and sodas to the participants.
  </p>
</div>

<div class="text-container-2">

  <h2>Spring of 1996</h2>
  <p>The chapters hosted their third State Days.Most chapters sent representatives, and fun was had by all.Also in 1996,
    the brothers of IA became the parent chapter of the reinstalled Zeta Rho chapter at Modesto Junior College.</p>
</div>

<div class="text-container">

  <h2>Summer of 1997</h2>
  <p>National Convention was held in Arizona, and over half of Eta Omega was represented.Our school was represented in
    the National Intercollegiate Band, and we left an impression with many chapters.
    <br>
    The chapters took a step into uncharted waters in the Spring of 1998.The chapters sponsored the Multiple Sclerosis
    walk.They helped out with the food and found a new service project.The chapters also took up Statesman gigs as a new
    fundraiser.It was a very promising year for the chapters. Kimbi Sigle was appointed District Counselor as well this
    year.</p>
</div>

<div class="text-container-2">

  <h2>April 2000</h2>
  <p>The sisters of Eta Omega hosted the Western District Convention with the brothers of Iota Pi.It was a great
    success, and five Omega Class candidates were initiated in front of the entire Tau Beta Sigma Western District
    membership. Kimbi Sigle was also appointed District Counselor for the Western District. In May 2000, the brothers
    and
    sisters of Iota Alpha and Eta Omega were honored to initiate Dr. Gary Gilroy as an honorary brother and honorary
    sister.The sisters of Eta Omega also initiated Dr. Kathryn Bumpass as an honorary sister. In Fall of 2000, the
    sisters of Eta Omega received an important visit from Dolly McDonald, the Chapter Field Representative for Tau Beta
    Sigma.She visited for a few days, and attended activities with the group.</p>
</div>

<div class="text-container">

  <h2>Spring of 2001</h2>
  <p>Dr. Lawrence Sutherland started to retire. Dr. Gary P. Gilroy took over as the new chapter sponsor.</p>
</div>

<div class="text-container-2">

  <h2>Fall of 2001</h2>
  <p>The brothers of Iota Alpha were visited by Derrick A. Mills, National Chapter Field Representative for Kappa Kappa
    Psi. Kimbi Sigle was elected National TBS VPCR at National Convention.</p>
</div>

<div class="text-container">

  <h2>Spring of 2002</h2>
  <p>The Fresno State Chapters hosted their 4th California State Days.The Band Olympics were a favorite activity, with
    Fresno State winning the G.B.C. and keeping their undefeated record. At the Western District Convetion, Bryan “GAUK”
    Raya was elected to the role of Kappa Kappa Psi Western District Member at Large and Suzanne “dayzee” Ruth was
    elected to Tau Beta Sigma VPSP.</p>
</div>

<div class="text-container-2">

  <h2>Spring of 2003</h2>
  <p>at the Western District Convention, Nick “NeWton” Chitwood was elected to the role of Kappa Kappa Psi Western
    District Member at Large and Marisa “Mystik” Garcia was elected to the roll of Tau Beta Sigma Western District VPSP.
    Kimbi Sigle was elected National VPSP at national convention.</p>
</div>

<div class="text-container">

  <h2>Spring of 2004</h2>
  <p>At the Western District Convention, Nick “NeWton” Chitwood was elected to the role of Kappa Kappa Psi Western
    District Vice President and Marisa “Mystik” Garcia was elected to the role of Tau Beta Sigma Western District
    President</p>
</div>

<div class="text-container-2">

  <h2>Spring of 2005</h2>
  <p>The sisters of Eta Omega initiated Dr. Hope Munro Smith and Cathy Salanitro as honorary sisters. At the Western
    District Convention, Marisa “Mystik” Garcia was elected to the role of Tau Beta Sigma Western District President.
    OnMay 4, 2005 the sisters presented the “Women in Jazz” Concert Series featuring guest saxophonist Mary Fettig. At
    the 2005 National Convention, Kimbi Sigle of the Beta Class of Eta Omega was elected to the position of National
    VPCM and President Elect for the 2007 National Convention.</p>
</div>

<div class="text-container">

  <h2>Spring of 2006</h2>
  <p>A service project that the chapters tried to get under their belts was holding an Instrument Petting Zoo for local
    kids to get a chance to try out instruments and see which one they might want to play. The joint chapters also held
    many fundraisers including a Vintage Days Food Booth and other food booths at Day of Percussion and High School
    Festival. They also sponsored the 27th annual Wind Festival. Alissa “tennessee” Ardito was voted Western District
    Secretary/Treasurer and Christina “RhapCidee” Stuhlmiller was made Western District VPSP. The sisters of HΩ were
    chosen with the brothers of IK to host the 2007 Convention for Colonization in Las Vegas, Nevada. Alexis “NaVi”
    Holladay received the Tau Beta Sigma District Acitve of the Year Award. Marisa “Mystik” Garcia received the Baton.
    HΩ also won chapter of the year for the district. The History, Alumni and Publications committee put together the
    “Docthology” project in honor of Doc’s last year at Fresno State. This project included a large display at his last
    concert which had 4 scrapbooks of everything that Doc had done in his many years at Fresno State.</p>
</div>

<div class="text-container-2">

  <h2>Fall of 2006</h2>
  <p>The chapters helped welcome the new Director of Athletic Bands, Timothy Todd Anderson, an honorary brother and
    sister of the Alpha Eta chapter of Kappa Kappa Psi and the Beta Xi chapter of Tau Beta Sigma at the University of
    Florida. The joint chapters welcomed their largest candidate class in the history of the chapters with 8 Brother and
    8 Sister candidates making a total of 16 new members by semester’s end. The chapters hosted many receptions for the
    music department concerts and held a Bowl-A-Thon to raise the funds to buy new Wind Orchestra folders. The Brothers
    held their annual football tournament and the sisters held their annual basketball tournament. The joint chapters
    held a number of social activities for the marching band during the fall to promote the bonds between band members.
    HΩ made Nicholas Chitwood and Kris Aoki honorary sisters for their dedication and contributions to the sisters. IA
    made Chris Williams, the Marching Band Visual Technician, an honorary brother for his support and for upholding
    their ideals.</p>
</div>

<div class="text-container">

  <h2>Spring of 2007</h2>
  <p>The chapters worked hard on numerous fundraisers and service projects including two Vintage Days Food booths and
    helping out at the annual CBDA honor band conference. The Joint chapters had the privilege of hosting California
    State Days where they had numerous social activities including band Olympics. About 75 people came and everyone had
    a great time.A fundraiser was held during State Days called Bulldog Music Bash. It was a concert which featured
    local bands and was a huge success. The chapters also had many social activities sponsored by our new social
    committee. The sisters of HΩ hosted the For Music’s Sake Outreach Conference in Las Vegas with the brothers of IK.
    The sisters won the Tau Beta Sigma Early Bird award for getting all of the chapter’s paper work in on time.</p>
</div>

<div class="text-container-2">

  <h2>Fall of 2007</h2>
  <p>The Brothers of Kappa Kappa Psi made Dr. Loewenheim an honorary brother. Both Tau Beta Sigma and Kappa Kappa Psi
    made Tim Anderson an honorary brother and sister of the chapters at Fresno State, as well as the new Sponsor of both
    chapters. At Band Spectacular, the joint chapters presented Director of Bands and former Sponsor Dr. Gary P. Gilroy
    with a jersey with his newly dubbed nickname on it: “GûzsCh.” The brothers of Iota Alpha made J.D. Ortiz and Dr.
    Thomas Loewenheim honorary brothers for their dedication to the beliefs and ideals of the brotherhood.</p>
</div>

<div class="text-container">

  <h2>Spring of 2008</h2>
  <p>The sisters of Eta Omega made Hatem Nadim, Elisha Wilson, and Dr. Thomas Loewenheim honorary sisters for their
    dedication to the purposes and ideals of the sisterhood. The brothers of Iota Alpha made Chip and Teresa Hagans and
    Sal and Linda Archuletta honorary brothers for their continued support to the Fresno State marching band. At Western
    District convention in Boise, Idaho, sister Mary “BeAUx Peep” Pagendarm was elected to the office of Western
    District Vice President and sister Janet “Dagny” Maggio was elected to the position of Western District
    Secretary/Treasurer.</p>
</div>

<div class="text-container-2">

  <h2>Fall of 2008</h2>
  <p>The sisters of Eta Omega made Dr. Anna Hamre and Dr. Krista Riggs honorary members of Tau Beta Sigma.</p>
</div>

<div class="text-container">

  <h2>Spring of 2009</h2>
  <p>The brothers of Iota Alpha made Hatem Nadim and Tony Broadbent honorary members of Kappa Kappa Psi. Dr. Gary P.
    Gilroy hosted a thank you BBQ for the brothers of Iota Alpha and sisters of Eta Omega for their dedication and hard
    work during the Dr. Laurence Sutherland’s Collegiate Wind Festival.</p>
</div>

<div class="text-container-2">

  <h2>Fall of 2009/Spring of 2010</h2>
  <p>The brothers of Iota Alpha made Sindi McGuire, Jose Vargas II and Dr. Mowrer honorary members of Kappa Kappa Psi.
    The sisters of Eta Omega made Jose Vargas II and Benjamin Tenpas an honorary sister of Tau Beta Sigma. They were all
    made honorary for the continued support of our organizations.</p>
</div>

<div class="text-container">

  <h2>Fall of 2010</h2>
  <p>Iota Alpha and Eta Omega hosted the Western District’s DLC.</p>
</div>

<div class="text-container-2">

  <h2>Fall of 2011</h2>
  <p>Our sponsor Dr. Timothy Anderson left his position at Fresno State and moved on to teach at the University of
    Massachusetts. Gary P. Gilroy becomes Iota Alpha and Eta Omega’s sponsor again. We helped welcome the interim
    director Adam Wilke, an alumni brother of Kappa Kappa Psi- Iota Alpha.</p>
</div>

<!-- <div class="text-container">

  <h2></h2>
  <p></p>
</div>

<div class="text-container-2">

  <h2></h2>
  <p></p>
</div> -->