<div class="wrap">

    <div class="image">
        <div class="text">

            A SISTERHOOD LIKE NO OTHER
        </div>

    </div>
</div>

<!-- LightWidget WIDGET -->
<!-- <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
    src="//lightwidget.com/widgets/e302ee5075b0580da966436a61497505.html" scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;height:100%;border:0;overflow:hidden;"></iframe> -->

<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
    src="//lightwidget.com/widgets/5aba5f7469355db6bfe1389d8071a5ec.html" scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;height: 32rem;;border:0;overflow:hidden;"></iframe>
