<!-- <div class="wrap">

    <div class="image">
        <div class="text">

            A SISTERHOOD LIKE NO OTHER
        </div>

    </div>
</div> -->


<div class="text-container">
    <span style="text-align: center">
        <div class="q2">Tau Beta Sigma - Eta Omega</div>
        <div class="q21">For Greater Bands</div>
        <div class="q">The Eta Omega chapter, chartered on April 30, 1988, is located at California State University,
            Fresno, home of the Bulldogs. <br>
            Our members participate in various ensembles provided at Fresno State such as Fresno State's Bulldog
            Marching Band and Color Guard, also known as the "Best Band in the West", the scholarship group known as The
            Bulldog
            Beat, and Red Wave Indoor Percussion to name a few. Along with musicianship, we provide various
            service projects to the ensembles. Whether it's repairing and organizing stands in the music department
            during our Stand Round-Ups, repainting gack marks on the marching band's practice field, providing a
            reception after wind ensemble concerts, or anything else, we push to be the first to volunteer for service!

        </div>
    </span>
</div>


<div class="text-container">
    <div class="flex-container">
        <div class="card">
            <img class="card-img-top" src="..\assets\tb.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tau Beta Sigma - National Honorary Sorority</h5>
                <p class="card-text">Learn more about the sisters of Tau Beta Sigma across the country and of our
                    purpose and values.</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/about']">Learn More</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="..\assets\hq.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">The History Behind the Eta Omega Chapter</h5>
                <p class="card-text">Read more on the history of the Eta Omega chapter and how we came to be.</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/chapter-history']">Learn More</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="..\assets\bmb.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fresno State's Marching Band</h5>
                <p class="card-text">Check out the newest updates on the BMB as well as the history behind The Best Band
                    in the West.</p>
                <a href="#" class="btn btn-primary" [routerLink]="['/band-history']">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!-- <div data-tockify-component="mini" data-tockify-calendar="eta.omega."></div>
<script data-cfasync="false" data-tockify-script="embed"
                                  src="https://public.tockify.com/browser/embed.js"></script> -->

<!-- <h2 style="text-align: center">Come Out To Our Recruitment Week!</h2> -->

<h2 style="text-align: center">Check Out This Week's Events!</h2>

<div class="text-container">
    <ul class="list-unstyled">
        <li class="media">

            <div class="mr-3">Nov<br>
                <span class="mr-text">11</span></div>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Veterans' Day and the Veterans' Day Parade
                </h5>
                Come out and celebrate Veterans' Day with us and the Fresno State Bulldog Marching Band at the largest
                Veterans' Day Parade in the nation! We would also like to say thank you and express our gratitude to
                those who have served.
            </div>
        </li>
        <!-- <li class="media">
            
            <div class="mr-3">Nov<br>
                <span class="mr-text">12</span></div>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Hangout at Campus Pointe @ 5:00pm</h5>
                The sisters of Tau Beta Sigma will be heading over to Campus Pointe to hangout, eat, and have fun! Meet
                us in the foyer 15 minutes beforehand and we can offer rides to anyone who might need it!
            </div>
        </li>
        <li class="media">
            
            <div class="mr-3">Nov<br>
                <span class="mr-text">13</span></div>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Tau-co Thursday @ 6:00pm</h5>
                Come and get some free food! The sisters will be making tacos and playing some games with one another.
                Everyone and anyone is invited to come and hangout!
            </div>
        </li> -->
        <li class="media">

            <div class="mr-3">Nov<br>
                <span class="mr-text">15</span></div>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Fresno State Football Game</h5>
                The Fresno State Bulldogs will go head to head against the San Diego Aztecs at SDSU. Let's Go Dogs!
            </div>
        </li>
    </ul>
</div>

<div class="text-container-2">
    <h1 style="text-align: center">Check Out Our Instagram!</h1>
</div>
<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
    src="//lightwidget.com/widgets/b5838901a469583b84271cfc279e7802.html" scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;border:0;height: 32rem;overflow:hidden;"></iframe>