<!-- <div class="wrap">

    <div class="image">
        <div class="text">

            A SISTERHOOD LIKE NO OTHER
        </div>

    </div>
</div> -->


<div class="text-container">
    <span style="text-align: center">
        <div class="q2">Tau Beta Sigma - Eta Omega</div>
        <div class="q21">For Greater Bands</div>
        <div class="q">The Eta Omega chapter, chartered on April 30, 1988, is located at California State University,
            Fresno, home of the Bulldogs. <br>
            Our members participate in various ensembles provided at Fresno State such as Fresno State's Bulldog
            Marching Band and Color Guard, also known as the "Best Band in the West", the scholarship group known as The
            Bulldog
            Beat, and Red Wave Indoor Percussion to name a few. Along with musicianship, we provide various
            service projects to the ensembles. Whether it's repairing and organizing stands in the music department
            during our Stand Round-Ups, repainting gack marks on the marching band's practice field, providing a
            reception after wind ensemble concerts, or anything else, we push to be the first to volunteer for service!

        </div>
    </span>
</div>


<div class="text-container">
    <div class="flex-container">
        <div class="card" >
            <img class="card-img-top" src="..\assets\tb.JPG" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Tau Beta Sigma - National Honorary Sorority</h5>
                    <p class="card-text">Learn more about the sisters of Tau Beta Sigma across the country and of our purpose and values.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/about']">Learn More</a>
                  </div>
        </div>

        <div class="card" >
            <img class="card-img-top" src="..\assets\hq.JPG" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">The History Behind the Eta Omega Chapter</h5>
                    <p class="card-text">Read more on the history of the Eta Omega chapter and how we came to be.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/chapter-history']">Learn More</a>
                  </div>
        </div>

        <div class="card" >
            <img class="card-img-top" src="..\assets\bmb.JPG" alt="Card image cap">
            <div class="card-body">
                    <h5 class="card-title">Fresno State's Marching Band</h5>
                    <p class="card-text">Check out the newest updates on the BMB as well as the history behind The Best Band in the West.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/band-history']">Learn More</a>
                  </div>
        </div>
    </div>
</div>

<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
    src="//lightwidget.com/widgets/b5838901a469583b84271cfc279e7802.html" scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;border:0;height: 32rem;overflow:hidden;"></iframe>